@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --personalBalance-clr: #0a9396;
  --savings-clr: #ee9b00;
  --expenses-clr: #d62828;
  --error-msg-clr: #ffb703;
}

/*start of css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* end of css reset */

body {
  background-color: #eceff1;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* start of root section */
.main-nav-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(236, 239, 241, 0.8);
  z-index: 9999;
}

.main-nav-header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(20px);
}

.nav-btn {
  display: grid;
  background: transparent;
  border: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.4rem;
  z-index: 1;
}

.openNav .nav-btn-circle:nth-child(even) {
  visibility: hidden;
}

.nav-btn-circle {
  width: 0.4rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 50%;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45%;
  background-color: white;
  padding: 6rem 0.5rem 0.5rem 0.5rem;
  transform: translateX(100%);
  transition: 300ms transform;
  border-radius: 15px 0 0 15px;
  background-image: url("./assets/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.open-nav {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(17, 17, 17, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  visibility: visible;
}

.hiddenOverlay {
  visibility: hidden;
  transition: visibility 100ms;
}

.navLink {
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.main-navigation .active {
  color: white;
  background-color: #1e3454;
}

@media (min-width: 400px) {
  .main-nav-header {
    padding: 1.5rem;
  }

  .nav-btn {
    gap: 0.5rem;
  }

  .nav-btn-circle {
    width: 0.5rem;
    height: 0.5rem;
  }
}

/*end of root section*/

/*start of homepage section*/
.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 2rem;
}

.graph-container {
  width: 10rem;
  position: relative;
  justify-self: center;
}

.graph-summary-container {
  width: 9rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37474f;
  position: absolute;
  inset: 0;
  margin: auto;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  gap: 0.5rem;
}

.graph-heading {
  font-size: 0.9rem;
  font-weight: 300;
}

.graph-total {
  font-size: 1.2rem;
}

.percentage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 1rem;
}

.percentage-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.colorBadge {
  width: 0.9rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.expsPercentage {
  background-color: var(--expenses-clr);
}

.savingsPercentage {
  background-color: var(--savings-clr);
}

.personalPercentage {
  background-color: var(--personalBalance-clr);
}

.homePageLinkContainer {
  background-color: #333;
  background-image: url("./assets/layered-waves-haikei5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  border-radius: 0 55px 0 0;
  align-self: stretch;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem 1.5rem;
  font-family: "Rubik", sans-serif;
  flex-grow: 1;
  display: grid;
  place-items: stretch stretch;
}

.linkContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "history history"
    "expenses expenses"
    "personalBalance savings"
    "transaction transaction";
  gap: 1rem;
}

.homePageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
  color: white;
}

.homeLinkTitle {
  font-size: 0.7rem;
  font-weight: 800;
}

.homeLinkAmmount {
  font-size: 1.1rem;
}

.homeLinkAmmountSubContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLinkButtonSubContainer {
  display: flex;
  justify-content: flex-end;
}

.homeLinkBtn {
  justify-self: end;
  width: 1.2rem;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.homeLinkIcon {
  color: black;
  font-size: 0.7rem;
}

.historyHomeLink {
  grid-area: history;
  background-color: #934dfc;
  border-radius: 25px 25px 5px 5px;
  background-image: linear-gradient(to bottom, #934dfc, #822faf);
}

.expensesHomeLink {
  grid-area: expenses;
  background-color: var(--expenses-clr);
  border-radius: 5px;
  background-image: linear-gradient(to bottom, var(--expenses-clr), #941b0c);
}

.personalHomeLink {
  grid-area: personalBalance;
  background-color: var(--personalBalance-clr);
  border-radius: 5px 25px 5px 25px;
  background-image: linear-gradient(
    to bottom,
    var(--personalBalance-clr),
    #005f73
  );
}

.savingsHomeLink {
  grid-area: savings;
  background-color: var(--savings-clr);
  border-radius: 25px 5px 25px 5px;
  background-image: linear-gradient(to bottom, var(--savings-clr), #ca6702);
}

.transactionHomeLink {
  grid-area: transaction;
  background-color: #47b6d4;
  border-radius: 5px 5px 25px 25px;
  background-image: linear-gradient(to bottom, #47b6d4, #219ebc);
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 410px) {
  .graph-container {
    width: 15rem;
  }

  .graph-summary-container {
    width: 13.5rem;
  }

  .graph-heading {
    font-size: 1rem;
  }

  .graph-total {
    font-size: 1.4rem;
  }
}

/* end of homepage section */

/* start of transaction page */
.transactionPageContainer {
  padding: 0rem 1.5rem 1.5rem;
  font-family: "Rubik", sans-serif;
}

.transactionPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.form-section {
  background-color: #333;
  background-image: url("./assets/layered-waves-haikei4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px 25px 5px 25px;
  padding: 1rem;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.radio-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px transparent solid;
  font-size: 0.8rem;
}

input[type="radio"] {
  opacity: 0;
}

label:has(input[type="radio"]:checked) {
  background-color: #0096c7;
  color: white;
  border: 2px solid #90e0ef;
}

.radio-circle {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  color: black;
  background-color: #808b90;
}

input[type="radio"]:checked + .radio-circle {
  background-color: #90e0ef;
}

.form-error-msg {
  color: var(--error-msg-clr);
}

.ammount-input,
.memo-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ammount-sub-input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
}

.ammount-input-box,
.memo-textarea {
  resize: none;
  border-radius: 5px;
  border: none;
  padding: 0.2rem;
  font-size: 0.8rem;
  background-color: white;
}

.ammount-input-box:focus,
.memo-textarea:focus {
  outline: 3px;
  outline-color: #c77dff;
  outline-style: solid;
}

.form-btn {
  background-color: #d62828;
  margin-top: 0.5rem;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 1.5rem;
  border-radius: 10px;
  font-weight: 500;
}

.form-btn:disabled {
  opacity: 0.5;
}

@media (min-width: 410px) {
  .form-section {
    font-size: initial;
  }

  .transactionPageForm {
    gap: 1rem;
  }

  .radio-btn {
    padding: 0.5rem;
    font-size: initial;
  }

  .ammount-input-box,
  .memo-textarea {
    padding: 0.5rem;
  }

  .form-btn {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

/* end of transaction page */
